dist/
!internal/pipe/dist
bin/
coverage.txt
goreleaser
goreleaser.exe
debug.test
snap.login
site/
.vercel
completions/
.vscode/
.task/
.idea/
manpages
output.json
.direnv
*.pyc
.intentionally-empty-file.o
internal/pipe/ko/testdata/app/testapp-linux-amd64.spdx.json