* text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.ico binary

www/docs/static/schema.json linguist-generated=true
www/docs/static/schema-pro.json linguist-generated=true
