language: go
go: 1.8.1
install:
  - make setup
  - gem install fpm
script:
  - make test
  - test -n "$TRAVIS_TAG" || go run main.go --skip-validate --skip-publish
after_success:
  - bash <(curl -s https://codecov.io/bash)
  - test -n "$TRAVIS_TAG" && go run main.go
notifications:
  email: false
