<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pkgmetadata SYSTEM "https://www.gentoo.org/dtd/metadata.dtd">
<pkgmetadata>
{{- if .BugsTo }}
	<upstream>
		<bugs-to>{{ .BugsTo }}</bugs-to>
	</upstream>
{{- end }}
{{- range .Maintainers }}
	<maintainer type="person">
		{{- if .Email }}
		<email>{{ .Email }}</email>
		{{- end }}
		{{- if .Name }}
		<name>{{ .Name }}</name>
		{{- end }}
	</maintainer>
{{- end }}
{{- range .UseFlags }}
	<use>
		<flag name="{{ .Flag }}">{{ .Description }}</flag>
	</use>
{{- end }}
</pkgmetadata>
