{{- $link := .Get 0 | default "" -}}
{{- $feedback := "Feedback" -}}
{{- if $link -}}
  {{- $feedback = printf "<a href=\"%s\">Feedback</a>" $link -}}
{{- end -}}
{{- $icon := "beaker" -}}
{{- $class := "hx:border-purple-200 hx:bg-purple-100 hx:text-purple-900 hx:dark:border-purple-200/30 hx:dark:bg-purple-900/30 hx:dark:text-purple-200" -}}
<div
	class="hx:overflow-x-auto hx:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 hx:ltr:pr-4 hx:rtl:pl-4 hx:contrast-more:border-current hx:contrast-more:dark:border-current {{ $class }}"
>
	<div class="hx:ltr:pl-3 hx:ltr:pr-2 hx:rtl:pr-3 hx:rtl:pl-2">
		{{ partial "utils/icon.html" (dict 
			"name" $icon
			"attributes" `height=1.2em class="hx:inline-block hx:align-middle"`
		) -}}
	</div>

	<div class="hx:w-full hx:min-w-0 hx:leading-7">
		<div class="hx:mt-6 hx:leading-7 hx:first:mt-0">
			This feature is currently experimental. {{ $feedback | safeHTML }} is greatly appreciated!
		</div>
	</div>
</div>
