DEFINED_PHASES=src_install src_unpack
DESCRIPTION={{ .Description }}
EAPI=8
HOMEPAGE={{ .Homepage }}
INHERITED=
IUSE={{ .IUSE }}
KEYWORDS={{ .Keywords }}
LICENSE={{ .License }}
RESTRICT=
SLOT=0
SRC_URI={{ .SrcURI }}
_md5_={{ .MD5 }}
