{{- if .BDEPEND }}
BDEPEND={{ .BDEPEND }}
{{- end }}
DEFINED_PHASES=install
DESCRIPTION={{ .Description }}
EAPI=8
HOMEPAGE={{ .Homepage }}
IUSE={{ .IUSE }}
KEYWORDS={{ .Keywords }}
LICENSE={{ .License }}
RESTRICT=
SLOT=0
SRC_URI={{ .SrcURI }}
{{- if .Eclasses }}
_eclasses_={{ .Eclasses }}
{{- end }}
_md5_={{ .MD5 }}
