<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pkgmetadata SYSTEM "https://www.gentoo.org/dtd/metadata.dtd">
<pkgmetadata>
{{- range .Maintainers }}
	<maintainer type="person">
		{{- if .Email }}
		<email>{{ .Email }}</email>
		{{- end }}
		{{- if .Name }}
		<name>{{ .Name }}</name>
		{{- end }}
	</maintainer>
{{- end }}
{{- if .UseFlags }}
	<use>
	{{- range .UseFlags }}
		<flag name="{{ .Flag }}">{{ .Description }}</flag>
	{{- end }}
	</use>
{{- end }}
{{- if or .BugsTo .Homepage }}
	<upstream>
	{{- if .BugsTo }}
		<bugs-to>{{ .BugsTo }}</bugs-to>
	{{- end }}
	{{- if .Homepage }}
		<doc>{{ .Homepage }}</doc>
	{{- end }}
	</upstream>
{{- end }}
</pkgmetadata>
