name: Auto-assign project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]
env:
  MY_GITHUB_TOKEN: ${{ secrets.GH_PAT }}

jobs:
  assign:
    runs-on: ubuntu-latest
    name: Assign Project and Milestone
    steps:
    - uses: srggrs/assign-one-project-github-action@1.2.1
      with:
        project: 'https://github.com/orgs/goreleaser/projects/3'
