name: daggerized build

on:
  push:
    branches:
      - "main"
  pull_request:
    paths:
      - "go.*"
      - "**/*.go"
      - "Taskfile.yml"
      - "Dockerfile"
      - ".github/workflows/*.yml"
      - "dagger/*"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - uses: dagger/dagger-for-github@8.0.0
        with:
          args: build -o ./goreleaser
          engine-stop: false
      - uses: dagger/dagger-for-github@8.0.0
        with:
          args: test coverage-report -o ./coverage.txt
