name: fig

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  fig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3
      - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4
        with:
          go-version: stable
          cache: true
      - run: go run . generate-fig-spec >goreleaser.ts
      - uses: withfig/push-to-fig-autocomplete-action@v1
        with:
          token: ${{ secrets.GH_PAT }}
          autocomplete-spec-name: goreleaser
          spec-path: goreleaser.ts
          integration: commander
