name: fig

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  fig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3
      - uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
        with:
          go-version: '>=1.19.3'
          cache: true
      - run: go run . generate-fig-spec >goreleaser.ts
      - uses: withfig/push-to-fig-autocomplete-action@v1
        with:
          token: ${{ secrets.GH_PAT }}
          autocomplete-spec-name: goreleaser
          spec-path: goreleaser.ts
          integration: commander
