name: generate

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/generate.yml'
      - pkg/config/config.go
      - CONTRIBUTING.md
      - USERS.md

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - uses: arduino/setup-task@v1
      - run: task docs:generate
      - run: task schema:generate
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: update"
          branch: main
