name: generate

on:
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v4
        with:
          go-version: stable
          cache: true
      - uses: arduino/setup-task@e26d8975574116b0097a1161e0fe16ba75d84c1c # v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: "go install mvdan.cc/gofumpt@latest"
      - run: task docs:releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: task docs:generate
      - run: task schema:generate
      - run: task nix:licenses:generate
      - uses: stefanzweifel/git-auto-commit-action@8756aa072ef5b4a080af5dc8fef36c5d586e521d # v5
        with:
          commit_message: "chore: docs auto-update"
          branch: main
          commit_user_name: actions-user
          commit_user_email: actions@github.com
          commit_author: actions-user <actions@github.com>
