name: generate

on:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/generate.yml'
      - pkg/config/config.go
      - CONTRIBUTING.md
      - USERS.md

permissions:
  contents: read

jobs:
  docs:
    permissions:
      contents: write  # for stefanzweifel/git-auto-commit-action to push code in repo
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9 # v4
        with:
          go-version: stable
          cache: true
      - uses: arduino/setup-task@e26d8975574116b0097a1161e0fe16ba75d84c1c # v1
      - run: task docs:generate
      - run: task schema:generate
      - uses: stefanzweifel/git-auto-commit-action@3ea6ae190baf489ba007f7c92608f33ce20ef04a # v4
        with:
          commit_message: "chore: docs auto-update"
          branch: main
          commit_user_name: actions-user
          commit_user_email: actions@github.com
          commit_author: actions-user <actions@github.com>
