name: generate

on:
  workflow_dispatch: {}

permissions:
  contents: read

jobs:
  docs:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v4
        with:
          go-version-file: go.mod
          cache: true
      - uses: arduino/setup-task@b91d5d2c96a56797b48ac1e0e89220bf64044611 # v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: "go install mvdan.cc/gofumpt@latest"
      - run: "go install github.com/santhosh-tekuri/jsonschema/cmd/jv@latest"
      - run: task docs:releases
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: task docs:generate
      - run: task schema:generate
      - run: task nix:licenses:generate
      - run: task nix:flake:update
      - run: task schema:validate
      - run: "git pull"
      - uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v5
        with:
          commit_message: "chore: auto-update generated files"
          branch: main
          commit_user_name: actions-user
          commit_user_email: actions@github.com
          commit_author: actions-user <actions@github.com>
  notify:
    runs-on: ubuntu-latest
    needs:
      - docs
    if: ${{ failure() }}
    steps:
      - name: Notify
        uses: nobrayner/discord-webhook@v1
        with:
          github-token: ${{ secrets.github_token }}
          title: "generate job failed"
          description: "this may cause goreleaser-action to fail, please check: https://github.com/goreleaser/goreleaser/actions/workflows/generate.yml"
          discord-webhook: ${{ secrets.NIGHTLY_DISCORD_WEBHOOK }}
          username: GoReleaser
          avatar-url: https://avatars.githubusercontent.com/u/24697112?v=4
          include-details: false
