name: gitleaks

on:
  push:
    branches: ['main']
    tags: ['v*']
  pull_request:


permissions:
  contents: read

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    if: ${{ github.event.pusher.name != 'dependabot[bot]' && github.event.pull_request.head.repo.full_name == github.repository }}
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}}
