name: "grype"

on:
  push:
    branches: ['main']
    tags: ['v*']
  pull_request:

jobs:
  scan-source:
    name: scan-source
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
    - uses: anchore/scan-action@v5
      with:
        path: "."
        fail-build: true
