name: "grype"

on:
  push:
    # branches: [ main ]

jobs:
  scan-source:
    name: scan-source
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
    - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3
    - uses: anchore/scan-action@v3
      with:
        path: "."
        fail-build: true

  scan-image:
    name: scan-image
    runs-on: ubuntu-latest

    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
    - uses: anchore/scan-action@v3
      with:
        image: "goreleaser/goreleaser:latest"
        fail-build: true
